src/main/mule/common-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<sub-flow name="check-manifest-shipment-ecom-order-and-process-to-d365-sub-flow" doc:id="7825bf2e-71cc-4174-be8b-3b002ab063dd" >
		<!-- <http:request method="GET" doc:name="Call JDA HTTP Request Configuration" doc:id="8dd7de71-58bd-4a43-937e-ce59529ad876" config-ref="JDA_HTTP_Request_configuration" path="${jda.getManifestPath}" responseTimeout="${response.timeout}">
			
			<http:query-params><![CDATA[#[output application/java

{
	"client-id" : vars.clientId,
	"client-secret" : vars.clientSecret
}]]]></http:query-params>
			
		</http:request> -->
		<ee:transform doc:name="Set Variables" doc:id="54ed7450-0945-4662-bbfb-758f28d2de48">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="hasMoreFiles"><![CDATA[%dw 2.0
output application/java
---

attributes.headers.'has-more-files']]></ee:set-variable>
<ee:set-variable variableName="transactionId"><![CDATA[%dw 2.0
output application/java
---

vars.transactionId]]></ee:set-variable>
<ee:set-variable variableName="transactionStartTime"><![CDATA[%dw 2.0
output application/java
---

vars.transactionStartTime]]></ee:set-variable>
<ee:set-variable variableName="messageCorrelationId"><![CDATA[%dw 2.0
output application/java
---

vars.messageCorrelationId]]></ee:set-variable>
				<ee:set-variable variableName="targetQueueVar"><![CDATA[%dw 2.0
output application/java
---
p('sqs.queue.target.manifest')]]></ee:set-variable>
				<ee:set-variable variableName="targetQueueUrl"><![CDATA[%dw 2.0
output application/java
---
p('sqs.queue.url.manifestQueueUrl')]]></ee:set-variable>
				<ee:set-variable variableName="sendToQueue" ><![CDATA[%dw 2.0
output application/java
---
p('send.manifest.queue')]]></ee:set-variable>
			</ee:variables>
			
		</ee:transform>
		<choice doc:name="Choice" doc:id="acc2026d-1b2d-4d63-baeb-2e207fdcf33d">
			<when expression="#[payload.manifests.'order-no' != null]">
				<ee:transform doc:name="Transform To D365" doc:id="c7654f78-9c6d-4355-9abf-b986d6b0b849">
			<ee:message>
			</ee:message>
					<ee:variables >
						<ee:set-variable resource="dwl/manifest-jda-to-d365-mapping.dwl" variableName="originalPayload" />
					</ee:variables>
		</ee:transform>
				
				<http:request method="PUT" doc:name="Call D365 HTTP Request Configuration" doc:id="ed3a7a8f-6711-42d8-971e-6d745b1d997a" config-ref="D365_HTTP_Request_configuration" path="${d365.updateManifestPath}" responseTimeout="${response.timeout}">
				<http:body ><![CDATA[#[vars.originalPayload]]]></http:body>
						<http:response-validator>
					<http:success-status-code-validator values="#[200]" />
				</http:response-validator>
		</http:request>
			</when>
			
			<otherwise>
				<set-variable value="The record is not an ecom order" doc:name="Set Logging payload" doc:id="4dd6f626-5889-4d5a-a717-1e0bb4ef9ca2" variableName="loggingPayload" />
				<flow-ref doc:name="Logging Message" doc:id="2cab5887-e33d-46e8-aec3-b27e64478d1b" name="logging-sub-flow" />
			</otherwise>
		</choice>
	</sub-flow>
	<flow name="receive-manifest-message-and-retry" doc:id="89823d79-bc53-4bb8-94fd-3a68ae5317cf" >
		<sqs:receivemessages doc:name="Receive Message From Manifest and Retry" doc:id="19a02c4e-6552-4284-a635-29fbeab11bf7" config-ref="Amazon_SQS_Configuration" queueUrl="${sqs.queue.url.manifestQueueUrl}"/>
		<flow-ref doc:name="check-manifest-shipment-ecom-order-and-process-to-d365-sub-flow" doc:id="eb4e5b4b-f724-4159-9d8f-6d5b9f18bded" name="check-manifest-shipment-ecom-order-and-process-to-d365-sub-flow"/>
	</flow>
</mule>
