src/main/mule/order-extract-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs"
	xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd">
	<flow name="order-extract-impl-flow" doc:id="23a2590d-f562-46da-a911-2cf2098e8abe">
		<scheduler doc:name="Order Extract Scheduler" doc:id="18363b90-3733-44b8-b930-913a1be28952" >
			<scheduling-strategy >
				<cron expression="${cron.expression.orderextract}" />
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Batch Parameter" doc:id="02821f9f-729a-4648-b997-59abceff4329" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="flowName" ><![CDATA[%dw 2.0
output application/java
---
'order-extract-impl-flow']]></ee:set-variable>
				<ee:set-variable variableName="count" ><![CDATA[0]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Log Receiver Entry" doc:id="77d62498-8cc7-4855-9310-c8fd5c7897f0" name="log-receiver-entry-sub-flow" />
		<flow-ref doc:name="Audit Receiver Entry" doc:id="bae2eaf2-a4d8-4332-b476-870c31df3ae1" name="audit-receiver-entry-sub-flow"/>
		<flow-ref doc:name="call-s-jda-and-process-to-d365-impl-flow" doc:id="cc7dd770-911a-4451-8cc8-59819183625b" name="call-s-jda-and-process-to-d365-impl-flow"/>
		<flow-ref doc:name="Log Dispatcher Exit" doc:id="986bce07-fd29-46df-a2b5-8f370e86bb0f" name="log-dispatcher-exit-sub-flow"/>
		<flow-ref doc:name="Audit Dispatcher Exit" doc:id="bec990dc-8b03-4813-955c-422c63eecb9f" name="audit-dispatcher-exit-sub-flow"/>
	</flow>
	<flow name="call-s-jda-and-process-to-d365-impl-flow" doc:id="586a59a6-47ab-44e1-b530-8afc050bbc93" >
		<ee:transform doc:name="Flow Name" doc:id="c245b3ff-0f13-4be7-aecc-589ea8c46bfa" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="flowName" ><![CDATA[%dw 2.0
output application/java
---
'call-s-jda-and-process-to-d365-impl-flow']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Log Process Entry" doc:id="cfce3e1e-0396-429e-8d85-cd27a2e4708c" name="log-process-entry-sub-flow"/>
		<flow-ref doc:name="Audit Process Entry" doc:id="dd1639ad-1b7e-4735-adc4-fd1d81d79b31" name="audit-process-entry-sub-flow"/>
		<http:request method="GET" doc:name="S-JDA-HTTP-Request-Configuration" doc:id="2e2372df-6ccb-4ab2-9c51-ce66f3740184" path="${jda.orders.path}" responseTimeout="${response.timeout}" config-ref="s_jda_Http_Request_configuration" outputMimeType="application/json">
				<http:headers ><![CDATA[#[output application/java
---
{
	"vRequestId" : vars.transactionId
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"client_id" : p('jda.clientId'),
	"client_secret" : p('jda.clientSecret')
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="JDA Response Attribute" doc:id="fff130b5-a416-459f-b85d-19789aadfe9c">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="hasMoreFiles"><![CDATA[attributes.headers['has-more-files']]]></ee:set-variable>
				<ee:set-variable variableName="fileName" ><![CDATA[attributes.headers['file-name']]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Log Process Exit" doc:id="4cdb440a-5b24-49c1-b372-f37092e1fe01" name="log-process-exit-sub-flow"/>
		<flow-ref doc:name="Audit Process Exit" doc:id="0cc42737-77bc-435f-b971-90a05b9274ac" name="audit-process-exit-sub-flow"/>
		<choice doc:name="Choice" doc:id="1d575d75-492e-4e7c-b28d-dd96cbf8a864" >
			<when expression="#[payload != null and isEmpty(payload.orders) != true]">
				<flow-ref doc:name="Flow Reference to Order Extract Check Manifest Data" doc:id="c1d2c83f-4e82-4c91-8100-9d093f42b861" name="order-extract-check-manifest-data-sub-flow"/>
			</when>
			<otherwise>
				<set-variable value="There are no order data to process" doc:name="Set Logging Payload" doc:id="d851938f-e129-41c0-b5ed-4ae9205905ab" variableName="loggingPayload" />
				<flow-ref doc:name="Logging Message" doc:id="12acbf38-f6ce-4203-ac75-b499b5b35fa4" name="logging-sub-flow"/>
			</otherwise>
		</choice>
		<choice doc:name="Choice" doc:id="0af6e8e1-cb61-4991-854f-f88169c6946a">
			<when expression="#[vars.hasMoreFiles == 'true']">
				<flow-ref doc:name="call-s-jda-and-process-to-d365-impl-flow" doc:id="9aee2451-507f-4599-ba8f-86835f0b407e" name="get-manifest-shipment-data-from-jda-and-process-to-d365-sub-flow" />
			</when>
			<otherwise>
				<set-variable value="There are no more manifest extract files to process" doc:name="Set Logging Payload" doc:id="cca705f5-3f2e-4eda-8876-505b9cb4fc35" variableName="loggingPayload" />
				<flow-ref doc:name="Logging Message" doc:id="2f4ea948-7ce7-483e-ac6b-dd9e72a7252c" name="logging-sub-flow"/>
			</otherwise>
		</choice>
		<flow-ref doc:name="Audit Process Exit" doc:id="de507949-2733-4e09-9ba1-a51220bdf689" name="audit-process-exit-sub-flow"/>
		<flow-ref doc:name="Log Process Exit" doc:id="9cf957ab-7060-4cba-a6ff-1dcf082d655c" name="log-process-exit-sub-flow"/>
	</flow>
	<sub-flow name="order-extract-check-manifest-data-sub-flow" doc:id="e36f7652-4cb0-405b-afd5-1d5835291f83" >
		<ee:transform doc:name="Flow Name" doc:id="2fb85c39-71f1-4fdc-a4dc-fc939f6162e9" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="flowName" ><![CDATA[%dw 2.0
output application/java
---
'order-extract-check-manifest-data-sub-flow']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Log Process Entry" doc:id="94382069-708b-48c5-935a-88f61bb3146d" name="log-process-entry-sub-flow"/>
		<flow-ref doc:name="Audit Process Entry" doc:id="92f959bc-7a2d-4821-a0b6-76a811408f29" name="audit-process-entry-sub-flow"/>
		<ee:transform doc:name="Set Queue Variables" doc:id="f140519b-f4cc-4c4c-9e1c-fac0e1cdae2b">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="targetQueueVar"><![CDATA[%dw 2.0
output application/java
---
p('sqs.queue.target.order')]]></ee:set-variable>
				<ee:set-variable variableName="targetQueueUrl"><![CDATA[%dw 2.0
output application/java
---
p('sqs.queue.url.orderQueueUrl')]]></ee:set-variable>
			</ee:variables>
			
		</ee:transform>
		<ee:transform doc:name="Filtering" doc:id="3a23d39e-deaf-4e03-ab52-a34254baa3a7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	orders: payload.orders filter ($."order-no" != null and $."order-no" != '' and $.status != 'shipped') map $
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="c72d933e-7050-4325-8357-b152854dfac2">
			<when expression="#[isEmpty(payload.orders) != true]">
				<flow-ref doc:name="Flow Reference Get Manifest Data" doc:id="428e84de-f365-4349-9386-e92167cbf7b8" name="order-extract-get-manifest-data"/>
			</when>
			<otherwise>
				<set-variable value="The record is not an ecom order" doc:name="Set Logging payload" doc:id="aace8a5b-63c6-4cb2-ade2-0323bb3f144b" variableName="loggingPayload" />
				<flow-ref doc:name="Logging Message" doc:id="95a6a3de-d35f-4e7e-943f-01591f2f99e7" name="logging-sub-flow" />
			</otherwise>
			
		</choice>
		<flow-ref doc:name="Audit Process Exit" doc:id="4c364dc0-08ed-481a-9f19-af4b2c7199fd" name="audit-process-exit-sub-flow"/>
		<flow-ref doc:name="Log Process Exit" doc:id="fe6b147b-5e9e-4f0d-91b6-ec15fb933b60" name="log-process-exit-sub-flow"/>
	</sub-flow>
	<sub-flow name="order-extract-get-manifest-data" doc:id="fb474105-bef1-40e7-834f-e728f8fb1d7a" >
		<ee:transform doc:name="Flow Name" doc:id="840b0cee-d408-4dc1-8ac5-d6db5b0b99ce" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="flowName" ><![CDATA[%dw 2.0
output application/java
---
'order-extract-get-manifest-data']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Log Process Entry" doc:id="ad500094-a464-4579-b726-34dd567c0620" name="log-process-entry-sub-flow"/>
		<flow-ref doc:name="Audit Process Entry" doc:id="fe5ba2d5-3930-4c69-a8e3-c9011ea4be1a" name="audit-process-entry-sub-flow"/>
		<sqs:read doc:name="Read" doc:id="9fe81df9-a3bb-435a-b921-f391fffa8dd5" config-ref="Amazon_SQS_Configuration" queueUrl="#[p('sqs.queue.url.manifestQueueUrl')]" maxNumberOfMessages="8" target="manifestData">
			<reconnect frequency="${retry.frequency}" count="${retry.attempts}" />
		</sqs:read>
		<flow-ref doc:name="Log Process Exit" doc:id="1884a941-55c9-4a4a-a2df-a6d4b43e3479" name="log-process-exit-sub-flow"/>
		<flow-ref doc:name="Audit Process Exit" doc:id="9971effb-f88d-4b84-8a87-8b21c24c7814" name="audit-process-exit-sub-flow"/>
		<choice doc:name="Choice" doc:id="e84144a6-44ff-4e08-8268-7ba143b34c0d" >
			<when expression="#[vars.manifestData != null and isEmpty(vars.manifestData) != true]">
				<logger level="INFO" doc:name="Logger" doc:id="82db6798-e471-477b-a429-2a8e3f0c124e" message="#['Matched Data is: ' ++ write(vars.manifestData,'application/json')]"/>
				<ee:transform doc:name="Transform Message" doc:id="a97d5f0c-3a47-45ae-9428-b2152ff8adca" >
					<ee:message >
						<ee:set-payload resource="dwl/filteredOrder.dwl" />
					</ee:message>
					<ee:variables >
						<ee:set-variable resource="dwl/matchedOrderData.dwl" variableName="matchedOrderData" />
					</ee:variables>
				</ee:transform>
				<choice doc:name="Choice" doc:id="7b07bbac-a441-4f75-acca-1444d95908e1" >
					<when expression="#[vars.matchedOrderData != null and isEmpty(vars.matchedOrderData.orders) != true]">
						<logger level="INFO" doc:name="Logger" doc:id="7e32f967-72e7-4ac9-aa67-442ef5f30ac5" message="#['Matched Data is: ' ++ write(vars.matchedOrderData,'application/json')]"/>
						<ee:transform doc:name="Transform Message" doc:id="5f7c4ef1-3a24-4ae4-af37-92ac35fc04f2" >
							<ee:message >
								<ee:set-payload resource="dwl/create-order-queue-msg.dwl" />
							</ee:message>
						</ee:transform>
						<flow-ref doc:name="Log Process Entry" doc:id="86306dbc-ec05-40f2-93ad-7c25cbf89722" name="log-process-entry-sub-flow"/>
						<flow-ref doc:name="Audit Process Entry" doc:id="bc1621d0-5ca9-4f05-a5ae-ce142beced1d" name="audit-process-entry-sub-flow"/>
						<sqs:send-message doc:name="Send message" doc:id="e3c3f7a7-6559-418d-aa11-b690db70a793" config-ref="Amazon_SQS_Configuration" queueUrl="#[vars.targetQueueUrl]"></sqs:send-message>
						<flow-ref doc:name="Log Process Exit" doc:id="6352b523-db0c-4e8e-8227-46ed551b951c" name="log-process-exit-sub-flow"/>
						<flow-ref doc:name="Audit Process Exit" doc:id="4fee8a2e-fe2e-403b-8034-e6fcc802b5af" name="audit-process-exit-sub-flow"/>
					</when>
					<otherwise >
						<set-variable value="No data matached with manifest Data" doc:name="Set Logging payload" doc:id="db1f4ae4-3344-4574-831c-203ac517cc70" variableName="loggingPayload" />
						<flow-ref doc:name="Logging Message" doc:id="a4cf82c1-8519-48db-9263-cad23b7cfc5f" name="logging-sub-flow" />
					</otherwise>
				</choice>
			</when>
			<otherwise >
				<set-variable value="Queue doesn't have any data" doc:name="Set Logging payload" doc:id="73320de0-0bc3-4493-8fe6-27cb1e9777fb" variableName="loggingPayload" />
				<flow-ref doc:name="Logging Message" doc:id="648243e9-2db8-4a80-9518-de124bcc936c" name="logging-sub-flow" />
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform order extract To D365" doc:id="4475089e-4483-4d0f-998d-02f9a670bb78">
			<ee:message>
				<ee:set-payload resource="dwl/order-extract-jda-to-d365-mapping.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="73b59a37-7b74-4a6c-a420-32ac29ff5d65" message="#['Data sending to D365' ++ write(payload, &quot;application/json&quot;)]" />
		<flow-ref doc:name="Flow Reference send to d365" doc:id="9691c83f-6d2f-480d-b302-4adb884962ed" name="order-extract-send-to-d365" />
		<flow-ref doc:name="Audit Process Exit" doc:id="eeaf5f15-ab44-461f-b5ea-1a7e7224af56" name="audit-process-exit-sub-flow"/>
		<flow-ref doc:name="Log Process Exit" doc:id="f529bc55-ce3d-4900-a866-36c15af7d0c3" name="log-process-exit-sub-flow"/>
	</sub-flow>
	<sub-flow name="order-extract-send-to-d365" doc:id="4e4ac1cb-968c-45d1-b779-dffb242a456d" >
		<set-variable value="order-extract-send-to-d365" doc:name="Flow Name" doc:id="9300e78e-3ed3-4312-814f-a7543749e6cf" variableName="flowName"/>
		<flow-ref doc:name="Log Process Entry" doc:id="966dce08-77ce-4137-85cf-b0388e7e486b" name="log-process-entry-sub-flow"/>
		<flow-ref doc:name="Audit Process Entry" doc:id="357d8942-066b-4ce5-9b62-735760d30983" name="audit-process-entry-sub-flow"/>
		<try doc:name="Try" doc:id="b38bc115-8ef3-42c1-9bc0-3bece479be1c" >
			<http:request method="PUT" doc:name="Call D365 HTTP Request Configuration" doc:id="4e264552-d91e-4f1c-8103-e1cc181d1b0d" path="${d365.updateOrderExtractPath}" responseTimeout="${response.timeout}" config-ref="s_D365_Http_Request_configuration" outputMimeType="application/json">
			<http:headers><![CDATA[#[output application/java
---
{
	"Transaction-Id" : vars.transactionId,
	"Client-Id" : p('d365.clientId'),
	"Client-Secret" : p('d365.clientSecret'),
	"Transaction-Start-Time" : vars.transactionStartTime
}]]]></http:headers>
			<http:response-validator>
					<http:success-status-code-validator values="#[200]" />
				</http:response-validator>
		</http:request>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9a9b11d4-5c72-4531-b7f3-25c53d72dfc3" type="ANY">
					<ee:transform doc:name="File Path" doc:id="2c88cc14-e72a-4069-97f5-5a183d60c84d">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="orderErrorFilePath" ><![CDATA[%dw 2.0
	output application/java
	---
	p('orders.export.sftp.errorfilepath') ++ vars.fileName]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
					<set-variable value="#['Error received from D365, Writing order data to SFTP error folder' ++ write(vars.orderErrorFilePath,'application/json')]" doc:name="Set Variable" doc:id="934a41fd-4b71-445a-baff-e4ad81301593" variableName="loggingPayload"/>
					<flow-ref doc:name="Flow Logging Sub Flow" doc:id="d59792c0-0779-491a-b1f8-5537ce942651" name="logging-sub-flow"/>
					<until-successful maxRetries="${retry.attempts}" doc:name="Until Successful" doc:id="99037333-7795-4793-9196-fae242ae9139" millisBetweenRetries="${retry.frequency}">
						<sftp:write doc:name="Write" doc:id="88952ead-06bf-4ae4-9b92-ca2802e2a884" config-ref="SFTP_Config" path="#[vars.filePath]">
						</sftp:write>
					</until-successful>
				</on-error-propagate>
			</error-handler>
		</try>
		<flow-ref doc:name="Audit Process Exit" doc:id="638fe593-58cb-4321-b924-a2a4c76fb8d0" name="audit-process-exit-sub-flow"/>
		<flow-ref doc:name="Log Process Exit" doc:id="6876b2a6-7f03-4f5d-9cc6-5105676a0b96" name="log-process-exit-sub-flow"/>
	</sub-flow>
	<flow name="receive-order-message-and-retry" doc:id="d15f90bc-9174-48aa-baa4-f1bafb4a7471" >
		<sqs:receivemessages doc:name="Receive Message From Order Queue and Retry" doc:id="6f46c1d3-03c4-48f9-a3c5-08fb02e08d6a" config-ref="Amazon_SQS_Configuration" queueUrl="${sqs.queue.url.orderQueueUrl}"/>
		<set-variable value="receive-order-message-and-retry" doc:name="Flow Name" doc:id="8f2e406f-e95e-4eb4-bbca-a304697ca53a" variableName="flowName"/>
		<ee:transform doc:name="Queue Parameter" doc:id="21b4895a-5b09-420d-be47-a3b52cfe47e7" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="correlationId" ><![CDATA[%dw 2.0
output application/java
---
attributes.correlationId.stringValue]]></ee:set-variable>
				<ee:set-variable variableName="transactionStartTime" ><![CDATA[%dw 2.0
output application/java
---
attributes.transactionStartTime.stringValue
]]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.transactionId.stringValue]]></ee:set-variable>
				<ee:set-variable variableName="count" ><![CDATA[%dw 2.0
output application/java
---
attributes.reprocessingCount.stringValue as Number + 1 ]]></ee:set-variable>
				<ee:set-variable variableName="fileName" ><![CDATA[%dw 2.0
output application/java
---
attributes.transactionFileName.stringValue]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="log Receiver Entry" doc:id="fa89010b-7d26-49c0-a637-c0181292c71f" name="log-receiver-entry-sub-flow" />
		<flow-ref doc:name="Audit Receiver Entry" doc:id="ca6c1eed-0c57-464b-bfdb-640703e452ea" name="audit-receiver-entry-sub-flow"/>
		<logger level="INFO" doc:name="Retry Number Logging" doc:id="29156eca-97ac-47a1-81ad-6b3b684d9751" message="#['Reprocessing Count is: ' ++ write(vars.count,'application/json')]"/>
		<set-variable value="#[attributes['sqs.message.receipt.handle']]" doc:name="Set Message Receipt" doc:id="689612aa-290d-4d3a-903e-3e307415a9f0" variableName="messageReceipt"/>
		<sqs:delete-message doc:name="Delete message" doc:id="c32c0a79-82c9-4cf2-8305-b065c9ad27e0" config-ref="Amazon_SQS_Configuration" receiptHandle="#[vars.messageReceipt]" queueUrl="${sqs.queue.url.orderQueueUrl}" target="tempDelete"/>
		<ee:transform doc:name="Transform Message" doc:id="6c21f267-6031-4987-9b58-3f1cd98cb520">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
read(payload,'application/json')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="025758d6-ccb0-4adb-8b18-6ab0989c97e3" >
			<when expression="#[vars.count &lt; p('reprocessing.attempts')]">
				<flow-ref doc:name="Reprocess Order Data " doc:id="2ebd9cda-7a36-47de-afbf-ebc59844a6f7" name="order-extract-get-manifest-data" />
			</when>
			<otherwise >
				<ee:transform doc:name="File Path" doc:id="3ad7b2a1-6342-4d8d-9af6-69fa0f58a30f">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="filePath"><![CDATA[%dw 2.0
output application/java
---
p('orders.export.sftp.errorfilepath') ++ vars.fileName]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<set-variable value="#['8 times retries done, Data will be moved to SFTP folder with path ' ++ write(vars.filePath, 'application/json')]" doc:name="Set Variable" doc:id="a4379467-fb40-475f-9098-57b64415e4bf" variableName="loggingPayload"/>
				<flow-ref doc:name="Flow Logging Sub Flow" doc:id="9cde173f-469f-4a01-a72a-d66bb438266e" name="logging-sub-flow"/>
				<until-successful maxRetries="${retry.attempts}" doc:name="Until Successful" doc:id="df5ef63b-9856-4a22-8034-cf54d1bef453" millisBetweenRetries="${retry.frequency}">
					<sftp:write doc:name="Write" doc:id="1a462f7a-f843-437f-9359-1b789f1fee73" config-ref="SFTP_Config" path="#[vars.filePath]">
					</sftp:write>
				</until-successful>
			</otherwise>
		</choice>
		<flow-ref doc:name="Audit Process Exit" doc:id="aeca81fe-2e29-499e-9d95-c475dcee0693" name="audit-process-exit-sub-flow"/>
		<flow-ref doc:name="Log Process Exit" doc:id="6c12147e-2b8c-4c13-b79d-7b40b30c0677" name="log-process-exit-sub-flow" />
	</flow>
</mule>
