src/main/mule/p-order-mgmt-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="p-order-mgmt-api-config" raml="p-order-mgmt-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="p-order-mgmt-api-main">
        <http:listener config-ref="p-order-mgmt-api-httpListenerConfig" path="${http.basePath}">
            <http:response statusCode="#[vars.httpStatus default 200]" />
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="p-order-mgmt-api-config" />
    </flow>
    <flow name="p-order-mgmt-api-console">
        <http:listener config-ref="p-order-mgmt-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="p-order-mgmt-api-config" />
    </flow>
    <flow name="post:\orders:application\json:p-order-mgmt-api-config">
        <ee:transform doc:name="Set Flow Name" doc:id="d0b1b9c4-5a4c-4ba1-8a2b-17b3440416d9">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="flowName"><![CDATA[%dw 2.0
output application/java
---

'post:\orders:application\json:p-order-mgmt-api-config']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Log Receiver Entry" doc:id="c902efcc-c52f-4548-b8a6-58fe92fda97c" name="log-receiver-entry-sub-flow" />
        <flow-ref doc:name="Audit Receiver Entry" doc:id="bbff0a58-b1a6-4cc7-ab04-c7e95700dcb5" name="audit-receiver-entry-sub-flow" />
        <flow-ref doc:name="Call Aptos To D365 Impl Sub Flow" doc:id="2d630afb-1918-41fe-b071-011092907a2c" name="aptos-to-d365-impl-flow" />
        <flow-ref doc:name="Log Dispatcher Exit" doc:id="e958b26a-e380-475f-9f9d-9c3e5da8893f" name="log-dispatcher-exit-sub-flow" />
        <flow-ref doc:name="Audit Dispatcher Exit" doc:id="1af7d8ac-11f1-42ea-8ee7-e21ac17f083c" name="audit-dispatcher-exit-sub-flow" />
    </flow>
    <flow name="post:\pick\orders:application\json:p-order-mgmt-api-config">
        <ee:transform doc:name="Set Flow Name" doc:id="99698e99-54a7-444b-8808-7ae57aa95abc" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="flowName" ><![CDATA[%dw 2.0
output application/java
---
'post:\pick\orders:application\json:p-order-mgmt-api-config']]></ee:set-variable>
            </ee:variables>
		</ee:transform>
		 <flow-ref doc:name="Log Receiver Entry" doc:id="a23e7d93-7c72-400c-a0d4-5d0139de23b5" name="log-receiver-entry-sub-flow" />
        <flow-ref doc:name="Audit Receiver Entry" doc:id="c1be33c2-1662-4b79-b70e-e1ad3a031e9b" name="audit-receiver-entry-sub-flow" />
        <flow-ref doc:name="Call Pick Orders Flow" doc:id="d131dd2b-f3ed-4af5-a16b-5d386e6a4e8c" name="order-managment-app-flow" />
        <flow-ref doc:name="Log Dispatcher Exit" doc:id="e1eb40d0-b901-43d8-8b12-9ab98b7f1242" name="log-dispatcher-exit-sub-flow" />
        <flow-ref doc:name="Audit Dispatcher Exit" doc:id="629135bc-b383-4e3f-b2a0-43e30b0966fb" name="audit-dispatcher-exit-sub-flow" />
    </flow>
<flow name="post:\sales\orders:application\json:p-order-mgmt-api-config">
		<ee:transform doc:name="Set Flow Name" doc:id="ae81af98-6770-4388-a284-a8755f21d8f4" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="flowName" ><![CDATA[%dw 2.0
output application/java
---
'post:\sales\orders:application\json:p-order-mgmt-api-config']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Log Receiver Entry" doc:id="62b8e366-7189-4d8a-90b4-a78cd9027550" name="log-receiver-entry-sub-flow"/>
		<flow-ref doc:name="Audit Receiver Entry" doc:id="bc9c3544-7666-4dba-9706-511b0296905f" name="audit-receiver-entry-sub-flow"/>
		<flow-ref doc:name="Calls Sales Orders Flow" doc:id="8edcdf77-f375-4fa5-be1d-4b291229bd92" name="sales-orders-impl-flow"/>
		<flow-ref doc:name="Log Dispatcher Exit" doc:id="16bff033-c80c-46be-b8fb-94d4e4322451" name="log-dispatcher-exit-sub-flow"/>
		<flow-ref doc:name="Audit Dispather Exit" doc:id="ff7551f5-0537-44b8-af7a-cac79451f341" name="audit-dispatcher-exit-sub-flow"/>
		
    </flow>
	
<flow name="post:\return\orders:application\json:p-order-mgmt-api-config">
		<ee:transform doc:name="Set Flow Name" doc:id="17184d94-9ab6-4460-a552-43949cee6f83" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="flowName" ><![CDATA[%dw 2.0
output application/java
---
'post:\return\orders:application\json:p-order-mgmt-api-config']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Log Receiver Entry" doc:id="e054aa56-033e-4a69-b812-69218f38c84a" name="log-receiver-entry-sub-flow"/>
		<flow-ref doc:name="Audit Receiver Entry" doc:id="a00625c8-88b9-4edb-8701-0693e64a1417" name="audit-receiver-entry-sub-flow"/>
		<flow-ref doc:name="Calls Return Orders Flow" doc:id="637d2022-decf-4d82-8cc4-59930eafda91" name="return-orders-impl-flow"/>
		<flow-ref doc:name="Log Dispatcher Exit" doc:id="f9d8a157-42b1-4af3-85e6-7b0a4492972a" name="log-dispatcher-exit-sub-flow"/>
		<flow-ref doc:name="Audit Dispather Exit" doc:id="4b49aa4e-7cde-40e7-90ce-b9abe98804ae" name="audit-dispatcher-exit-sub-flow"/>
    </flow>	
</mule>
