src/main/mule/web-orders-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<sub-flow name="aptos-to-d365-impl-flow" doc:id="d278a3b5-d6b8-45b8-8ba9-cbc56e0954c7" >
		
		<set-variable value="#['aptos-to-d365-impl-flow']" doc:name="Set Flow Name" doc:id="f1034d0e-4f80-47f7-b761-48bb51f78366" variableName="flowName"/>
		<ee:transform doc:name="Set Input Payload" doc:id="69945192-6aa6-45bb-864c-90f13f6f948b">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="aptosOriginalPayload"><![CDATA[%dw 2.0
output application/json
---

payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="5641cc72-6e78-4405-b2cc-fd647e9ef533" >
			<when expression="#[(vars.aptosOriginalPayload != null) or (isEmpty(vars.aptosOriginalPayload) == false)]">
				<flow-ref doc:name="Get Key Values For Delivery Mode" doc:id="17ca0096-800d-4012-b189-a71df4afcac3" name="get-mode-of-delivery-key-values-from-dblookup-sub-flow"/>
				<flow-ref doc:name="Get Key Values For Sales Origin" doc:id="d6df6c36-1ef3-4c80-bb97-c27777e40d9d" name="get-sales-of-origin-key-values-from-dblookup-sub-flow"/>
				<async doc:name="Async" doc:id="2b870c4f-c65f-4ef9-ab9e-bfdc6c7f376f" >
					<ee:transform doc:name="Input For Report DB" doc:id="8e659a69-da22-4a6f-b991-a5209e7238c5">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable resource="dwl/order_create_from_aptos_to_reportdb.dwl" variableName="reportdbInputPayload" />
					</ee:variables>
				</ee:transform>
					<flow-ref doc:name="Log Process Entry" doc:id="7a745f5f-dced-4c76-bed6-a65913235221" name="log-process-entry-sub-flow"/>
					<flow-ref doc:name="Audit Process Entry" doc:id="994f3567-78ae-41f1-a5b7-0cbf97609592" name="audit-process-entry-sub-flow"/>
					<until-successful maxRetries="${retry.attempts}" doc:name="Until Successful" doc:id="3221bb8f-c91a-4bbf-997d-7896f7f0b767" millisBetweenRetries="${retry.frequency}">
						<http:request method="POST" doc:name="Call Report DB Http Request Configuration" doc:id="c10190f5-c4f2-45fa-b5ea-e4054f259c65" path="${report.ordersPath}" responseTimeout="${response.timeout}" config-ref="S_Report_Http_Request_Configuration">
						<http:body><![CDATA[#[vars.reportdbInputPayload]]]></http:body>
											<http:headers><![CDATA[#[output application/java
---
{
	"Transaction-Id" : vars.transactionId,
	"Transaction-Start-Time" : vars.transactionStartDate,
	"Client-Id" : p('report.clientId'),
	"Client-Secret" : p('report.clientSecret')
}]]]></http:headers>
					
					</http:request>
					</until-successful>
					<flow-ref doc:name="Log Process Exit" doc:id="ad9c9cf7-e287-48cd-aca3-05f4db634c9c" name="log-process-exit-sub-flow"/>
					<flow-ref doc:name="Audit Process Exit" doc:id="34436baf-fe59-4607-9b68-d1590289ab4a" name="audit-process-exit-sub-flow"/>
				
</async>
				<ee:transform doc:name="Set d365 Input Payload" doc:id="5d89f5b1-7d9c-456f-be6a-bdd0f993bc9d">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable resource="dwl/order_create_from_aptos_d365.dwl" variableName="d365InputPayload" />
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="Log Process Entry" doc:id="4af958a0-2719-4bd8-9749-e1dbf49f2df6" name="log-process-entry-sub-flow"/>
				<flow-ref doc:name="Audit Process Entry" doc:id="6177ca9e-227e-4e64-8f50-d74c96fc1010" name="audit-process-entry-sub-flow"/>
				<until-successful maxRetries="${retry.attempts}" doc:name="Until Successful" doc:id="2f77d7f8-8044-44b9-9caf-2c267a1b2b18" millisBetweenRetries="${retry.frequency}">
					<http:request method="POST" doc:name="Call D365 Http Request Configuration" doc:id="c1119184-6b74-4aea-891c-82c49922f420" config-ref="s_D365_Http_Request_configuration" path="${d365.webOrdersPath}" responseTimeout="${response.timeout}">
			<http:body><![CDATA[#[vars.d365InputPayload]]]></http:body>
					<http:headers><![CDATA[#[output application/java
---
{
	"Transaction-Id" : vars.transactionId,
	"Transaction-Start-Time" : vars.transactionStartDate,
	"Client-Id" : p('d365.clientId'),
	"Client-Secret" : p('d365.clientSecret')
}]]]></http:headers>
					
		</http:request>
				</until-successful>
				<flow-ref doc:name="Log Process Exit" doc:id="c1e82877-eccf-4a5c-b18b-23cc801cd900" name="log-process-exit-sub-flow"/>
				<flow-ref doc:name="Audit Process Exit" doc:id="d73f8908-5b76-4554-8e2e-f1ab0c83592a" name="audit-process-exit-sub-flow"/>
			
</when>
			<otherwise >
				<logger level="INFO" doc:name="No Data Receieved" doc:id="8c26ed45-ff3a-4312-9ee0-7b140649358a" message="${system.layer.response}"/>
			</otherwise>
		</choice>
	
	</sub-flow>
	<sub-flow name="get-mode-of-delivery-key-values-from-dblookup-sub-flow" doc:id="b3f886d8-1f34-4ebd-a34f-4d02c8774b1e" >
		<set-variable value="#['get-mode-of-delivery-key-values-from-dblookup-sub-flow']" doc:name="Flow Name" doc:id="abe34bec-e8ba-4fe9-a741-e573afd14400" variableName="flowName"/>
		<set-variable value="#[p('lookup.aptos.modeOfDelivery.key')]" doc:name="Set Lookup Key" doc:id="c4c2e3df-47b1-42a1-8df0-2b81cc1a611c" variableName="modeOfDeliveryKey"/>
		<os:contains doc:name="Contains" doc:id="446be61a-f981-4b30-968d-f11404e01b21" key="#[vars.modeOfDeliveryKey]" objectStore="Object_store"/>
		<choice doc:name="Choice" doc:id="88263750-46ad-428b-b4e3-d4e14f3ea66c" >
			<when expression="#[payload ==true]">
				<os:retrieve doc:name="Retrieve" doc:id="bfd16d13-fb28-4c14-a47a-9ae494bc6dc3" key="#[vars.modeOfDeliveryKey]" objectStore="Object_store"/>
				<flow-ref doc:name="Map Mode Of Delivery Value" doc:id="7d7d8713-1984-45b4-a7a0-13a6bf392094" name="filter-mode-of-delivery"/>
			</when>
			<otherwise >
				<flow-ref doc:name="Log Process Entry" doc:id="838f347d-9aae-4bb3-bbe0-9a6469e00b95" name="log-process-entry-sub-flow"/>
				<flow-ref doc:name="Audit Process Entry" doc:id="ea177514-4e5b-40b1-a084-2f6f963e2349" name="audit-process-entry-sub-flow"/>
				<until-successful maxRetries="${retry.attempts}" doc:name="Until Successful" doc:id="f53175a9-10e1-4710-b042-ddf3e4e6439f" millisBetweenRetries="${retry.frequency}">
					<http:request method="GET" doc:name="Call DB DM Lookup Http Request Configuration" doc:id="0d0d85db-42af-470c-beb4-5515b907962f" path="${lookup.dbLookupPath}" responseTimeout="${response.timeout}" config-ref="dbLookup_HTTP_Request_configuration">
					<http:headers><![CDATA[#[output application/java
---
{
	"Transaction-Id" : vars.transactionId,
	"Transaction-Start-Time" : vars.transactionStartDate,
	"Client-Id" : p('lookup.clientId'),
	"Client-Secret" : p('lookup.clientSecret')
}]]]></http:headers>
					<http:query-params><![CDATA[#[output application/java
---
{
	"type" : p('lookup.queryParam.aptos.modeOfDelivery.type'),
	"source" : p('lookup.queryParam.aptos.modeOfDelivery.source'),
	"category" : p('lookup.queryParam.aptos.modeOfDelivery.category')
}]]]></http:query-params>
				</http:request>
				</until-successful>
				<flow-ref doc:name="Audit Process Exit" doc:id="1f5ff5e3-7258-46a0-b3fc-68d4b15017fe" name="audit-process-exit-sub-flow"/>
				<flow-ref doc:name="Log Process Exit" doc:id="10ee1b57-fc93-4676-b346-37eba3e6e457" name="log-process-exit-sub-flow"/>
				<os:store doc:name="Store" doc:id="08fbf23a-ce28-4df3-b451-2da4fe008f00" key="#[vars.modeOfDeliveryKey]" objectStore="Object_store"/>
				<flow-ref doc:name="Map Mode Of Delivery Value" doc:id="dd362dd9-8bf9-4d95-84fe-1fff64577793" name="filter-mode-of-delivery"/>
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="get-sales-of-origin-key-values-from-dblookup-sub-flow" doc:id="ba6585e8-5178-4ff7-9b78-9050d6785c95">
	<set-variable value="#['get-sales-of-origin-from-dblookup-for-create-order-sub-flow']" doc:name="Flow Name" doc:id="c40b1d1a-8ea5-4387-9e0d-ac4104419c62" variableName="flowName"/>
		<set-variable value="#[p('lookup.aptos.salesOfOrigin.key')]" doc:name="Set SalesOfOrigin Lookup Key" doc:id="35ea9718-0d86-476d-a06f-85f346fa04d1" variableName="salesOfOriginKey"/>
		<os:contains doc:name="Contains" doc:id="2bdfef22-e962-49ba-8c14-1c31b19327c5" key="#[vars.salesOfOriginKey]" objectStore="Object_store"/>
		<choice doc:name="Choice" doc:id="cffd7802-4916-4bd2-9cda-fab15395864c" >
			<when expression="#[payload ==true]">
				<os:retrieve doc:name="Retrieve" doc:id="a7a4e689-3c16-4add-a9ca-7e3eb2fc5866" key="#[vars.salesOfOriginKey]" objectStore="Object_store"/>
				<flow-ref doc:name="Map Sales Of Origin Value" doc:id="11b88397-0a41-410e-90bb-5ce225ff72df" name="filter-sales-of-origin"/>
			
</when>
			<otherwise >
				<flow-ref doc:name="Log Process Entry" doc:id="5bd0692e-cf0e-44f1-9efe-19c789cc961a" name="log-process-entry-sub-flow"/>
				<flow-ref doc:name="Audit Process Entry" doc:id="2d2b8fe9-a79b-4aaa-a380-b264529772cd" name="audit-process-entry-sub-flow"/>
				<until-successful maxRetries="${retry.attempts}" doc:name="Until Successful" doc:id="8d8b7290-5788-448f-b2db-68cc5b7e8330" millisBetweenRetries="${retry.frequency}">
					<http:request method="GET" doc:name="Call DB SO Lookup Http Request Configuration" doc:id="f971441d-1f38-4463-8c07-983d12dcfb6a" path="${lookup.dbLookupPath}" responseTimeout="${response.timeout}" config-ref="dbLookup_HTTP_Request_configuration">
					<http:headers><![CDATA[#[output application/java
---
{
	"Transaction-Id" : vars.transactionId,
	"Transaction-Start-Time" : vars.transactionStartDate,
	"Client-Id" : p('lookup.clientId'),
	"Client-Secret" : p('lookup.clientSecret')
}]]]></http:headers>
					<http:query-params><![CDATA[#[output application/java
---
{
	"type" : p('lookup.queryParam.aptos.salesOfOrigin.type'),
	"source" : p('lookup.queryParam.aptos.salesOfOrigin.source'),
	"category" : p('lookup.queryParam.aptos.salesOfOrigin.category')
}]]]></http:query-params>
				</http:request>
				</until-successful>
				<flow-ref doc:name="Log Process Exit" doc:id="9b7dcd2a-31eb-444c-9228-db0c99a90715" name="log-process-exit-sub-flow"/>
				<flow-ref doc:name="Audit Process Exit" doc:id="47bfbaf8-e85f-43c6-af39-fb28f107ef31" name="audit-process-exit-sub-flow"/>
				<os:store doc:name="Store" doc:id="9cf4d56f-5f83-4296-acf4-e7044978e7b9" key="#[vars.salesOfOriginKey]" objectStore="Object_store"/>
				<flow-ref doc:name="Map Sales Of Origin Value" doc:id="a8b3c263-5d86-488d-9306-20270b975917" name="filter-sales-of-origin"/>
			
</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="filter-mode-of-delivery" doc:id="382d3b9f-a9d8-4f1c-8d36-999496de41dd" >
		<ee:transform doc:name="Map Key Value For Delivery Mode" doc:id="3b839c23-4a13-494e-8485-51b06eadd218" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="dmLookupValue" ><![CDATA[%dw 2.0
output application/json skipNullOn = "everywhere"
---

vars.aptosOriginalPayload.'orders' map (value) ->{
(payload.lookups filter (($."lookup-key") == value."delivery-mode") map {

	"order-no" : value."order-no",
	"lookup-value" : $."lookup-value"
} reduce $$)

}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<sub-flow name="filter-sales-of-origin" doc:id="63a1ff1a-40cd-4ee0-b1e8-029f4ef94965" >
		<ee:transform doc:name="Map Key Value For Sales Origin" doc:id="5613b63f-ec86-418f-ad02-062e982cd54d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="soLookupValue" ><![CDATA[%dw 2.0
output application/json skipNullOn = "everywhere"
---

vars.dmLookupValue map (value) ->{
(payload.lookups filter (($."lookup-key") == value."lookup-value") map {

	"order-no" : value."order-no",
	"lookup-key" : value."lookup-value",
	"lookup-value" : $."lookup-value"
} reduce $$)

}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<flow name="common-template-check-digit-lookup-flow" doc:id="97b5a794-12b6-4e8d-b482-f770a65f6e81" >
		<java:invoke-static doc:name="Invoke java to calculate check digit" doc:id="5de7fb5c-dc94-488a-a1c6-5ec6fe0960e3" class="com.fatface.mule.utils.ProductSKUCheckDigitCal" method="getCheckSum(String)">
			<java:args ><![CDATA[#[{
	arg0: payload as String
}]]]></java:args>
		</java:invoke-static>
	</flow>
</mule>
