src/main/mule/web-orders-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<sub-flow name="aptos-to-d365-impl-flow" doc:id="d278a3b5-d6b8-45b8-8ba9-cbc56e0954c7" >
		
		<set-variable value="#['aptos-to-d365-impl-flow']" doc:name="Set Flow Name" doc:id="f1034d0e-4f80-47f7-b761-48bb51f78366" variableName="flowName"/>
		<flow-ref doc:name="Log Process Entry" doc:id="e3035da0-9d71-45d9-b4f2-50fce399087e" name="log-process-entry-sub-flow"/>
		<flow-ref doc:name="Audit Process Entry" doc:id="06ffc987-517d-49be-8d14-dfca129ac283" name="audit-process-entry-sub-flow"/>
		<ee:transform doc:name="Set Input Payload" doc:id="69945192-6aa6-45bb-864c-90f13f6f948b">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="aptosOriginalPayload"><![CDATA[%dw 2.0
output application/json
---

payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<async doc:name="Async" doc:id="a964c7c2-50e1-4b26-b200-52d43d2abfdb" >
			<flow-ref doc:name="Audit Details Flow call" doc:id="a977b1bd-2a00-46cd-8efa-4b8882baa6f2" name="aptos-orders-auditing-sub-flow" />
		</async>
		<choice doc:name="Choice" doc:id="5641cc72-6e78-4405-b2cc-fd647e9ef533" >
			<when expression="#[(vars.aptosOriginalPayload != null) or (isEmpty(vars.aptosOriginalPayload) == false)]">
				<flow-ref doc:name="Get Key Values For Delivery Mode" doc:id="17ca0096-800d-4012-b189-a71df4afcac3" name="get-mode-of-delivery-key-values-from-dblookup-sub-flow"/>
				<flow-ref doc:name="Get Key Values For Sales Origin" doc:id="d6df6c36-1ef3-4c80-bb97-c27777e40d9d" name="get-sales-of-origin-key-values-from-dblookup-sub-flow"/>
				<flow-ref doc:name="Get Key Values For Shipping Barcode" doc:id="0fb8265d-878a-46c1-9c95-b415daaa3be1" name="get-shipping-barcode-key-values-from-dblookup-flow"/>
				<async doc:name="Async" doc:id="2b870c4f-c65f-4ef9-ab9e-bfdc6c7f376f" >
					<ee:transform doc:name="Input For Report DB" doc:id="8e659a69-da22-4a6f-b991-a5209e7238c5">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable resource="dwl/order_create_from_aptos_to_reportdb.dwl" variableName="reportdbInputPayload" />
					</ee:variables>
				</ee:transform>
					<flow-ref doc:name="Log Process Entry" doc:id="7a745f5f-dced-4c76-bed6-a65913235221" name="log-process-entry-sub-flow"/>
					<flow-ref doc:name="Audit Process Entry" doc:id="994f3567-78ae-41f1-a5b7-0cbf97609592" name="audit-process-entry-sub-flow"/>

					<http:request method="POST" doc:name="Call Report DB Http Request Configuration" doc:id="c10190f5-c4f2-45fa-b5ea-e4054f259c65" path="${report.ordersPath}" responseTimeout="${response.timeout.system.reportdb.webOrders}" config-ref="S_Report_Http_Request_Configuration">

						<http:body><![CDATA[#[vars.reportdbInputPayload]]]></http:body>
											<http:headers><![CDATA[#[output application/java
---
{
	"Transaction-Id" : vars.transactionId,
	"Client-Id" : p('report.clientId'),
	"Client-Secret" : p('secure::report.clientSecret'),
	"Transaction-Start-Time" : vars.transactionStartTime
}]]]></http:headers>
					
					</http:request>
					<flow-ref doc:name="Audit Process Exit" doc:id="34436baf-fe59-4607-9b68-d1590289ab4a" name="audit-process-exit-sub-flow" />
					<flow-ref doc:name="Log Process Exit" doc:id="ad9c9cf7-e287-48cd-aca3-05f4db634c9c" name="log-process-exit-sub-flow"/>
				
</async>
				<ee:transform doc:name="Set d365 Input Payload" doc:id="5d89f5b1-7d9c-456f-be6a-bdd0f993bc9d">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable resource="dwl/order_create_from_aptos_d365.dwl" variableName="d365InputPayload" />
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="Log Process Entry" doc:id="4af958a0-2719-4bd8-9749-e1dbf49f2df6" name="log-process-entry-sub-flow"/>
				<flow-ref doc:name="Audit Process Entry" doc:id="6177ca9e-227e-4e64-8f50-d74c96fc1010" name="audit-process-entry-sub-flow"/>
				<http:request method="POST" doc:name="Call D365 Http Request Configuration" doc:id="c1119184-6b74-4aea-891c-82c49922f420" config-ref="s_D365_Http_Request_configuration" path="${d365.webOrdersPath}" responseTimeout="${response.timeout.system.d365.webOrders}">
			<http:body><![CDATA[#[vars.d365InputPayload]]]></http:body>
					<http:headers><![CDATA[#[output application/java
---
{
	"Transaction-Id" : vars.transactionId,
	"Client-Id" : p('d365.clientId'),
	"Client-Secret" : p('secure::d365.clientSecret'),
	"Transaction-Start-Time" : vars.transactionStartTime
}]]]></http:headers>
					
		</http:request>
				<flow-ref doc:name="Audit Process Exit" doc:id="d73f8908-5b76-4554-8e2e-f1ab0c83592a" name="audit-process-exit-sub-flow" />
				<flow-ref doc:name="Log Process Exit" doc:id="c1e82877-eccf-4a5c-b18b-23cc801cd900" name="log-process-exit-sub-flow"/>
				<set-variable value="#['aptos-to-d365-impl-flow']" doc:name="Set Flow Name" doc:id="0e61296a-4a3c-4886-9a6f-20f39156607d" variableName="flowName"/>
					<flow-ref doc:name="Log Process Exit" doc:id="1cf97a9d-2b43-4c8e-abeb-4839c1f11f53" name="log-process-exit-sub-flow"/>
				<flow-ref doc:name="Audit Process Exit" doc:id="c576f514-fb62-4a6d-8018-00793ea10299" name="audit-process-exit-sub-flow"/>
			
</when>
			<otherwise >
				<set-variable value="#['No data received']" doc:name="Set Variable" doc:id="9bfa5df8-8d89-4a3b-908d-13b096a66f5c" variableName="loggingPayload"/>
				<flow-ref doc:name="Logging SubFlow" doc:id="5f3baea7-a25f-43b6-8d7e-ac09ee2de395" name="logging-sub-flow"/>
			</otherwise>
		</choice>
	
	</sub-flow>
	<sub-flow name="aptos-orders-auditing-sub-flow" doc:id="9f858b77-a105-408b-828f-9ea4188a2b83" >
		<set-variable value="#['aptos-orders-auditing-sub-flow']" doc:name="Set Flow Name" doc:id="f1507160-5f02-4b3a-8a12-9fd0b7a26a82" variableName="flowName"/>
		<set-variable value="Auditing details of aptos order data" doc:name="Set Logging payload" doc:id="8657c9a5-a6d2-440d-9fe8-db4deee85fd3" variableName="loggingPayload" />
		<flow-ref doc:name="Logging Message" doc:id="882f65e0-cdca-46c7-bf43-1f679b2f698c" name="logging-sub-flow" />
		<ee:transform doc:name="Transform Message To Audit Details Structure" doc:id="046c071f-f0cc-4a26-9b89-1aee54b8fe03" >
			<ee:message >
				<ee:set-payload resource="dwl/auditing-web-orders.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Audit Details Processing" doc:id="3f15696e-a967-47ed-a493-665b64df098f" name="audit-details-processing-sub-flow"/>
		<set-variable value="Order data pushed in Audit Table" doc:name="Set Logging payload" doc:id="b4227c09-3327-4f1a-8750-4c1321eb2a3b" variableName="loggingPayload" />
		<flow-ref doc:name="Logging Message" doc:id="aca7d137-09ac-495b-b4b9-3bd7dac216cc" name="logging-sub-flow" />
	</sub-flow>
	<sub-flow name="get-mode-of-delivery-key-values-from-dblookup-sub-flow" doc:id="b3f886d8-1f34-4ebd-a34f-4d02c8774b1e" >
		<set-variable value="#['get-mode-of-delivery-key-values-from-dblookup-sub-flow']" doc:name="Flow Name" doc:id="abe34bec-e8ba-4fe9-a741-e573afd14400" variableName="flowName"/>
		<flow-ref doc:name="Log Process Entry" doc:id="fa3426c1-c56d-4916-b21d-a0ea01c6153f" name="log-process-entry-sub-flow"/>
		<flow-ref doc:name="Audit Process Entry" doc:id="94576b04-2936-45ff-9063-33012c3905ae" name="audit-process-entry-sub-flow"/>
		<set-variable value="#[p('lookup.aptos.modeOfDelivery.key')]" doc:name="Set Lookup Key" doc:id="c4c2e3df-47b1-42a1-8df0-2b81cc1a611c" variableName="modeOfDeliveryKey"/>
		<os:contains doc:name="Contains" doc:id="446be61a-f981-4b30-968d-f11404e01b21" key="#[vars.modeOfDeliveryKey]" objectStore="Object_store"/>
		<choice doc:name="Choice" doc:id="88263750-46ad-428b-b4e3-d4e14f3ea66c" >
			<when expression="#[payload ==true]">
				<os:retrieve doc:name="Retrieve" doc:id="bfd16d13-fb28-4c14-a47a-9ae494bc6dc3" key="#[vars.modeOfDeliveryKey]" objectStore="Object_store"/>
				<flow-ref doc:name="Log Process Entry" doc:id="fa273da8-4f5c-4e92-a73a-4a0e1897c5d4" name="log-process-entry-sub-flow"/>
<flow-ref doc:name="Audit Process Entry" doc:id="47db6c7c-bf73-41d9-b3e2-814bae6d2a0c" name="audit-process-entry-sub-flow"/>
				<flow-ref doc:name="Map Mode Of Delivery Value" doc:id="7d7d8713-1984-45b4-a7a0-13a6bf392094" name="filter-mode-of-delivery"/>
			</when>
			<otherwise >
				<flow-ref doc:name="Log Process Entry" doc:id="838f347d-9aae-4bb3-bbe0-9a6469e00b95" name="log-process-entry-sub-flow"/>
				<flow-ref doc:name="Audit Process Entry" doc:id="ea177514-4e5b-40b1-a084-2f6f963e2349" name="audit-process-entry-sub-flow"/>
				<http:request method="GET" doc:name="Call DB DM Lookup Http Request Configuration" doc:id="0d0d85db-42af-470c-beb4-5515b907962f" path="${lookup.dbLookupPath}" responseTimeout="${response.timeout.system.dblookup.webOrders}" config-ref="dbLookup_HTTP_Request_configuration">
					<http:headers><![CDATA[#[output application/java
---
{
	"Transaction-Id" : vars.transactionId,
	"Client-Id" : p('lookup.clientId'),
	"Client-Secret" : p('secure::lookup.clientSecret'),
	"Transaction-Start-Time" : vars.transactionStartTime
}]]]></http:headers>
					<http:query-params><![CDATA[#[output application/java
---
{
	"source" : p('lookup.queryParam.aptos.modeOfDelivery.source'),
	"type" : p('lookup.queryParam.aptos.modeOfDelivery.type'),
	"category" : p('lookup.queryParam.aptos.modeOfDelivery.category')
}]]]></http:query-params>
				</http:request>
				<os:store doc:name="Store" doc:id="08fbf23a-ce28-4df3-b451-2da4fe008f00" key="#[vars.modeOfDeliveryKey]" objectStore="Object_store"/>
				<flow-ref doc:name="Map Mode Of Delivery Value" doc:id="dd362dd9-8bf9-4d95-84fe-1fff64577793" name="filter-mode-of-delivery"/>
			</otherwise>
		</choice>
		<flow-ref doc:name="Audit Process Exit" doc:id="eeb8b599-6d4d-49d9-a1b0-16a0a70ed67a" name="audit-process-exit-sub-flow" />
		<flow-ref doc:name="Log Process Exit" doc:id="7f8fb607-667b-4cd3-a1d1-8a69b87f4a27" name="log-process-exit-sub-flow"/>
	</sub-flow>
	<sub-flow name="get-sales-of-origin-key-values-from-dblookup-sub-flow" doc:id="ba6585e8-5178-4ff7-9b78-9050d6785c95">
	<set-variable value="#['get-sales-of-origin-key-values-from-dblookup-sub-flow']" doc:name="Flow Name" doc:id="c40b1d1a-8ea5-4387-9e0d-ac4104419c62" variableName="flowName"/>
		<flow-ref doc:name="Log Process Entry" doc:id="e78e7432-c319-43bb-9259-73d1c22c8a75" name="log-process-entry-sub-flow"/>
		<flow-ref doc:name="Audit Process Entry" doc:id="4f3f30df-0df0-4ef7-90fe-9f42325ab476" name="audit-process-entry-sub-flow"/>
		<set-variable value="#[p('lookup.aptos.salesOfOrigin.key')]" doc:name="Set SalesOfOrigin Lookup Key" doc:id="35ea9718-0d86-476d-a06f-85f346fa04d1" variableName="salesOfOriginKey"/>
		<os:contains doc:name="Contains" doc:id="2bdfef22-e962-49ba-8c14-1c31b19327c5" key="#[vars.salesOfOriginKey]" objectStore="Object_store"/>
		<choice doc:name="Choice" doc:id="cffd7802-4916-4bd2-9cda-fab15395864c" >
			<when expression="#[payload ==true]">
				<os:retrieve doc:name="Retrieve" doc:id="a7a4e689-3c16-4add-a9ca-7e3eb2fc5866" key="#[vars.salesOfOriginKey]" objectStore="Object_store"/>
				<flow-ref doc:name="Log Process Entry" doc:id="067cedb7-92dc-4ba6-88aa-632dee608fea" name="log-process-entry-sub-flow"/>
<flow-ref doc:name="Audit Process Entry" doc:id="45d09113-b3f7-46f8-ac37-30c4ea94d3f9" name="audit-process-entry-sub-flow"/>
				<flow-ref doc:name="Map Sales Of Origin Value" doc:id="11b88397-0a41-410e-90bb-5ce225ff72df" name="filter-sales-of-origin"/>
			
</when>
			<otherwise >
				<flow-ref doc:name="Log Process Entry" doc:id="5bd0692e-cf0e-44f1-9efe-19c789cc961a" name="log-process-entry-sub-flow"/>
				<flow-ref doc:name="Audit Process Entry" doc:id="2d2b8fe9-a79b-4aaa-a380-b264529772cd" name="audit-process-entry-sub-flow"/>
				<http:request method="GET" doc:name="Call DB SO Lookup Http Request Configuration" doc:id="f971441d-1f38-4463-8c07-983d12dcfb6a" path="${lookup.dbLookupPath}" responseTimeout="${response.timeout.system.dblookup.pickOrders}" config-ref="dbLookup_HTTP_Request_configuration">
					<http:headers><![CDATA[#[output application/java
---
{
	"Transaction-Id" : vars.transactionId,
	"Client-Id" : p('lookup.clientId'),
	"Client-Secret" : p('secure::lookup.clientSecret'),
	"Transaction-Start-Time" : vars.transactionStartTime
}]]]></http:headers>
					<http:query-params><![CDATA[#[output application/java
---
{
	"source" : p('lookup.queryParam.aptos.salesOfOrigin.source'),
	"type" : p('lookup.queryParam.aptos.salesOfOrigin.type'),
	"category" : p('lookup.queryParam.aptos.salesOfOrigin.category')
}]]]></http:query-params>
				</http:request>
				<os:store doc:name="Store" doc:id="9cf4d56f-5f83-4296-acf4-e7044978e7b9" key="#[vars.salesOfOriginKey]" objectStore="Object_store"/>
				<flow-ref doc:name="Map Sales Of Origin Value" doc:id="a8b3c263-5d86-488d-9306-20270b975917" name="filter-sales-of-origin"/>
			
</otherwise>
		</choice>
	<flow-ref doc:name="Audit Process Exit" doc:id="cd0139d0-30e1-47bb-8b6f-dcc81bdc91b4" name="audit-process-exit-sub-flow" />
		<flow-ref doc:name="Log Process Exit" doc:id="4742399c-589c-41d8-9219-cdbdeb1e9091" name="log-process-exit-sub-flow"/>
	</sub-flow>
	<flow name="get-shipping-barcode-key-values-from-dblookup-flow" doc:id="a3cb24b4-8c38-489e-9fb9-3849e29d146f">
	<set-variable value="#['get-shipping-barcode-key-values-from-dblookup-sub-flow']" doc:name="Flow Name" doc:id="3e970437-038d-4daa-9785-03f2a31d06a8" variableName="flowName"/>
		<!-- <set-variable value="#[payload]" doc:name="Set Request BarCode Key" doc:id="1a7b7547-2d66-49b0-90cc-a71687cf6d80" variableName="vRequestBarCodeKey"/> -->
		<set-variable value="#[p('lookup.aptos.shippingBarcode.key')]" doc:name="Set Shipping Barcode Lookup Key" doc:id="f8bdf6cd-9c24-45d6-a88a-356223929dab" variableName="shippingBarcodeKey"/>
		<flow-ref doc:name="Log Process Entry" doc:id="3f6518f1-d1f2-46da-8184-a745619123d8" name="log-process-entry-sub-flow"/>
<flow-ref doc:name="Audit Process Entry" doc:id="2ce61a67-5480-41be-bf6c-96c3106656b1" name="audit-process-entry-sub-flow"/>
		<os:contains doc:name="Contains" doc:id="4769969f-c1b5-4af3-8fb1-ed167c6dd721" key="#[vars.shippingBarcodeKey]" objectStore="Object_store"/>
		<choice doc:name="Choice" doc:id="cec9c378-e7be-4a77-817f-513f8d9df79b" >
			<when expression="#[payload ==true]">
				<os:retrieve doc:name="Retrieve" doc:id="e261ad96-fe0e-46a3-96a6-4e0f4c94417d" key="#[vars.shippingBarcodeKey]" objectStore="Object_store"/>
				<flow-ref doc:name="Log Process Entry" doc:id="137fcc51-0b20-43ea-ae54-9a415b3c0d1c" name="log-process-entry-sub-flow"/>
<flow-ref doc:name="Audit Process Entry" doc:id="cc5f0f98-ff0e-46cc-bab1-8112fbdce617" name="audit-process-entry-sub-flow"/>
				<flow-ref doc:name="Map Shipping Barcode Value" doc:id="39822f06-2f90-4a2a-bbc0-ab5f9c46efdd" name="filter-shipping-barcode"/>
				<!-- <flow-ref doc:name="Map Mode Of Delivery Value" doc:id="3de6c498-0aef-4165-97bd-796d42cee118" name="filter-mode-of-delivery"/> -->
			
</when>
			<otherwise >
				<flow-ref doc:name="Log Process Entry" doc:id="4a58812f-7da4-417c-9345-9f087efba62f" name="log-process-entry-sub-flow"/>
				<flow-ref doc:name="Audit Process Entry" doc:id="0b962d40-de13-471e-8d63-dc4db4c390c0" name="audit-process-entry-sub-flow"/>
				<http:request method="GET" doc:name="Call DB Lookup Shipping Barcode Http Request Configuration" doc:id="242a7a58-954f-40d5-b3cf-d66f81a658c2" path="${lookup.dbLookupPath}" responseTimeout="${response.timeout.system.dblookup.pickOrders}" config-ref="dbLookup_HTTP_Request_configuration">
					<http:headers><![CDATA[#[output application/java
---
{
	"Transaction-Id" : vars.transactionId,
	"Client-Id" : p('lookup.clientId'),
	"Client-Secret" : p('secure::lookup.clientSecret'),
	"Transaction-Start-Time" : vars.transactionStartTime
}]]]></http:headers>
					<http:query-params><![CDATA[#[output application/java
---
{
	"source" : p('lookup.queryParam.aptos.shippingBarcode.source'),
	"type" : p('lookup.queryParam.aptos.shippingBarcode.type'),
	"category" : p('lookup.queryParam.aptos.shippingBarcode.category')
}]]]></http:query-params>
				</http:request>
				<os:store doc:name="Store" doc:id="3f779e7b-a6f2-49ae-8ed0-12dd1074f451" key="#[vars.shippingBarcodeKey]" objectStore="Object_store"/>
				<flow-ref doc:name="Map Shipping Barcode Value" doc:id="8764f845-2b37-4d54-ad03-892d5bda0040" name="filter-shipping-barcode"/>
				<!-- <flow-ref doc:name="Map Mode Of Delivery Value" doc:id="b9c61d2b-f7ac-4ef6-bbb7-f7ee726d6ea6" name="filter-mode-of-delivery"/> -->
			
</otherwise>
		</choice>
		<flow-ref doc:name="Log Process Exit" doc:id="399e912d-1da2-4b78-a1ce-4d5231513fc9" name="log-process-exit-sub-flow" />
<flow-ref doc:name="Audit Process Exit" doc:id="c1cc0900-efb5-435a-ba7a-0948a7d01675" name="audit-process-exit-sub-flow"/>
	</flow>
	<sub-flow name="filter-mode-of-delivery" doc:id="382d3b9f-a9d8-4f1c-8d36-999496de41dd" >
		<ee:transform doc:name="Map Key Value For Delivery Mode" doc:id="3b839c23-4a13-494e-8485-51b06eadd218" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="dmLookupValue" ><![CDATA[%dw 2.0
output application/json skipNullOn = "everywhere"
---

vars.aptosOriginalPayload.'orders' map (value) ->{
(payload.lookups filter (($."lookup-key") == value."delivery-mode") map {

	"order-no" : value."order-no",
	"lookup-value" : $."lookup-value"
} reduce $$)

}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<sub-flow name="filter-sales-of-origin" doc:id="63a1ff1a-40cd-4ee0-b1e8-029f4ef94965" >
		<ee:transform doc:name="Map Key Value For Sales Origin" doc:id="5613b63f-ec86-418f-ad02-062e982cd54d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="soLookupValue" ><![CDATA[%dw 2.0
output application/json skipNullOn = "everywhere"
---

vars.dmLookupValue map (value) ->{
(payload.lookups filter (($."lookup-key") == value."lookup-value") map {

	"order-no" : value."order-no",
	"lookup-key" : value."lookup-value",
	"lookup-value" : $."lookup-value"
} reduce $$)

}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<sub-flow name="filter-shipping-barcode" doc:id="58fc7bdc-693f-4b93-8477-5de3506a81e9" >
		<ee:transform doc:name="Map Key Value For Shipping Barcode" doc:id="836b848d-f878-4906-81b6-dbc1ed8884dc" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="sbLookupValue" ><![CDATA[%dw 2.0
output application/json skipNullOn = "everywhere"
---

(vars.aptosOriginalPayload.'orders' map (value) ->{
	data:(value.'orderlines' map (ol) ->{
(payload.lookups filter (($."lookup-key") == ol.barcode) map {

	"order-no" : value."order-no",
	"barcode": ol.barcode,
	"lookup-value" : $."lookup-value"
}) })

}).data reduce $$]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
</mule>
